In [1]:
a = [1,1,2,3,5,8,13,21,34,55,89]
b = [1,2,3,4,5,6,7,8,9,10,11,12,23]

In [7]:
1 in a

True

In [8]:
3 in a or b

True

In [ ]:
list_of_students = ["Michele", "Sara", "Cassie"]

In [ ]:
name = str(input("Please input student name: "))

In [ ]:
if name in list_of_students:
    print(name + " is enrolled")